.top{
	height: 50px;
	background-color: #403e72;
}
.tt ul li{
	display: inline-block;
	padding-left: 4px;
	font-weight: 400;
}
.tt ul{
	padding-top: 12px;
	padding-left: 50px;
}
.tt h6{
font-family: "Roboto",sans-serif;
}
.rr ul li{
	display: inline-block;
	color: white;
	padding-left: 15px;
}
.rr h6{
	font-family: "Roboto",sans-serif;
font-weight: 100;
font-size: 14px;
}
.rr ul{
	padding-top: 12px;
	padding-left: 140px;
}
img, svg {
    vertical-align: middle;
    width: 70%;
    padding-left: 5px;
}
.dd{
	z-index: 1;
}
.bg-light {
    background-color: #f8f9fa!important;
    padding-top: 20px!important;
}

.navbar-light .navbar-nav .nav-link {
    color: black!important;
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto",sans-serif;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    
}

.navbar-nav .nav-link{
	padding-left: 45px!important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2196f3!important;
}

ul li{
	display: inline-block;
}

.btn-primary {
    color: #fff!important;
    background-color: #fefeff!important;
    border-color: #f3f4f7!important;
}
.dd ul{
	margin-left: -40px!important;

}
.dd ul li{
	padding-left: 20px!important;
	padding-top: 15px;
}


.btn-secondary {
    color: #fff!important;
    background-color: #ffffff!important;
    border-color: #f4f7fa!important;
}

.dropdown-menu.show {
    display: block;
    width: 500px!important;
}
.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 350px!important;
    min-width: 50px;
}


.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529!important;
    text-align: left;
    list-style: none;
    background-color: #fff!important;
    background-clip: padding-box;
    border: 2px solid #4dd0e1!important;
    border-radius: 0.25rem;
}

.btn-outline-secondary{
	background-color: #9febf4!important;
}
.bb{
	height: 95px;
	background-color: #2b2a2f;
}


.bb ul li{
	display: inline-block;
	font-family:"Roboto",sans-serif ;
	padding-left: 27px;

}
.bb h6{
	color: #747475;
	font-weight: 600;
	font-size: 14px;
}
.bb ul{
	padding-left: 50px;
	padding-top: 35px;
}
.bb h6:hover{
	color: skyblue;
}


.nn{
	height: 90px;
}










.btn {
	border-radius: 0rem!important;
}






.ftr{
	height: 250px;
	background-color: #2b2a2f!important;
	margin-top: 110px;
}
.fd{
	height: 50px;
	background-color: #27262b!important;
}

.zc h6,h3,p{
	padding-left: 50px;
}
.zc p{
	color: white;
	font-family: times new ;
}
.zc ul li{
	display: inline-block;
	list-style-type: none;
	padding-left: 15px;
}

.lnk li{
	list-style: none;
	color: white;
	float: left;
	font-family: times new;
}


.champ{
	list-style: none;
	color: white;
	float: left;
	font-family: times new;
	padding-top: 70px;
}


.dn{
	height: 200px;
	background-color: black;
}
.champo{
	list-style: none;
	color: white;
	float: left;
	font-family: times new;
	padding-top:0px;
}
.lll{
	background-color: skyblue!important;
	width: 220px;
	margin-left: 9px;
	border-radius: 5px!important;

}


.fa-facebook-square:hover{
	color: skyblue!important;
}

.fa-twitter:hover{
	color: skyblue!important;
}

.fa-google-plus-square:hover{
	color: skyblue!important;
}

.fa-instagram:hover{
	color: skyblue!important;
}


.fa-pinterest:hover{
		color: skyblue!important;

}

.lnk li:hover{
	color: skyblue!important;
	cursor: pointer;
}
.champ li:hover{
	color: skyblue!important;
	cursor: pointer;
}
.champo li:hover{
	color: skyblue!important;
	cursor: pointer;
}
.lll:hover{
	background-color: #02baed!important;
}
.fd h6{
	color: #808080!important;
	padding-top: 12px;
	text-align: center;
	font-weight: 100;
	font-family: times new;
}


.col-md-6 .form-group{
	color: green;
	font-family: Times New Roman;
	width: 
}




@media only screen and (max-width: 800px){
	.top{
		display: none;
	}
	.bb{
	display: none;
	}

	.navbar-collapse{
		background-color: white!important;
		z-index: 1!important;
	}
	.d-md-block{
		display: block!important;

	}
		

.gd{
	height: auto;
}

.sst ul li{
	padding-left: auto;



}

.sst h5{
	font-size: 14px!important;
	font-weight: 800;
}
.sst ul{
	margin-left: -250px!important;
}
.sst{
	height: 200px;
}
.car1{
	height: 100px;
}
.ftr{
	height: 1000px;
}
.ftr ul li{
	padding-left: 20px;
	text-align: center;
}
.form-control{
	margin-left: 80px;
}
.lll{
		margin-left: 140px;


}
}